*{
    box-sizing: border-box;
    
    margin: 0px;
    padding: 0px;
}
 html{
     height: 100%;
     font-size: 62.5%;
     position: relative;
 }

body{
    margin: 0px;
    height: 100%;
    background: url('./back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    display: block;
    
}


.app{
    height: 100%;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: "n n n n"
                         
                         "a a a a"
                         "a a a a"
                         "a a a a"
                         "a a a a"
                         "a a a a"
                         "f f f f";
}

.nav{
    grid-area: n;
   
    
    
}

.mainnav{
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 8rem;
    font-size: 1.5rem;
    
}

.mainnav img{
    height: 7rem;
    width:20rem;
    position: relative;
    left: 0;
    top:0px;
    cursor: pointer;
}
#pincode{
    margin-right: 3rem;
}

.searchcontainer{
    margin-top: 0.8rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image:
    linear-gradient(
      to right, 
      #fffdc2,
      #fffdc2 15%,
      #d7f0a2 15%,
      #d7f0a2 85%,
      #fffdc2 85%
    );
   
    opacity: 0.8;


    
}

.searchcontainer *{
    margin-top:0.5rem;
    

}
.searchcontainer h1{
    margin-bottom: 1rem;
    font-weight: 900;
}

.searchcontainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}
.searchcontainer input{
    width:50vw;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    height: 3.2rem;
    font-size: 2rem;
    text-align: center;
    background-image: linear-gradient(to right, #c2e59c, #64b3f4);
    border: 3px solid black;
}
.searchcontainer input:focus{
    /* background-color: palegreen; */
    border-color:red;
}
.searchcontainer input:active{
    background-color: tomato;
}


.pincodearea{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 1rem;
    width: 11.2rem;
    height: 3.2rem;
    cursor: pointer;
    background-color: crimson;
    color: white;
    margin-bottom: 1.5rem;
}
button:hover{
    background-color: green;
    color: white;
    box-shadow: 0px 5px 0px 0px white;
    font-weight: 600;
}
.main{
    grid-area: a;
    /* background-color:blue;
    opacity: 0.5; */
}
.footer{
    
    grid-area: f;
    background-color: black;
    opacity: 0.8;
    color: white;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    width: 100vw;
    left: 0px;
    bottom: 0px; */
    justify-content: calc();
    font-weight: 500;
    /* font-size: 2.3rem; */
}

.footer div , .footer h1{
    margin-top: 1rem;
    font-size: 2rem;
}
.footer a{
    text-decoration: none;
}
i{
    color: white;
    margin-left: 5px;
}
.cards {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            
  }
  
  .cards .card {
    background: white;
    padding: 1.6rem;
    min-height: 45vh;
    min-width: 55vw;
    margin: 1.6rem;
    font-size: 1.5rem;
  }
  
  .cards .card h1 {
    color: #45B649;
    margin-bottom: 0.8rem;

  }
  
  .cards .card h1 .category {
    color: black;
    font-size: smaller;
  }
  
  .cards .card .innerCard {
    background: -webkit-gradient(linear, left top, right top, from(#DCE35B), to(#45B649));
    background: linear-gradient(to right, #DCE35B, #45B649);
    padding: 0.8rem;
  }
  
  .cards .card .innerCard h3 {
    margin: 0.5rem;
    color: white;
  }
  
  .cards .card .innerCard h3 .category {
    color: black;
  }
  
  .opening {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .opening img {
    margin-top: 1.6rem;
    width: 75vw;
    height: 75vh;
  }
  
  .opening h1 {
    position: absolute;
    -webkit-transform: translate(0, 2.9rem);
            transform: translate(0, 2.9rem);
    font-size: 1.3rem
  }
  @media screen and (max-width:768px) {
    html{
        font-size:55%;
    }

  @media screen and (max-width:400px) {
      html{
          font-size:50%;
      }
      .opening img{
          height: 55vh;
      }

      .mainnav img{
          width:10rem;
      }
  }


